@import "./auth.css";
@import "./shell.css";
@import "./project.css";
@import "./repo.css";
@import "./owner.css";
@import "./markdown.css";
@import "./profile.css";
@import "./org.css";
@import "./issues.css";
@import "./setting.css";
@import "./pr.css";
@import "./explore.css";
@import "tailwindcss";


* {
    margin: 0;
    padding: 0;
    --theme-button: #f15108;
}

