
.explore {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px);
}

.explore-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.explore-sidebar {
    width: 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    border: 1px saddlebrown solid;

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.explore-head {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px #c2c2c2 solid;
    .explore-head-tab {
        display: flex;
        justify-content: flex-start;
    }
    .explore-head-search-checkbox {
        margin-top: 1rem;
    }
    .explore-head-search {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
        input {
            height: 2.5rem;
            width: 25rem;
            min-width: 700px;
        }
        button {
            height: 2.5rem;
            width: 5rem;
        }
    }

}
.explore-intro {
    width: 100%;
    height: auto;
}

.explore-intro-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-intro-header-sort {
    display: flex;
    justify-content: end;
}
.explore-intro-body {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 1024px){
        width: 80%;
        margin-left: 10%;
        border-left: 1px #c2c2c2 solid;
        border-right: 1px #c2c2c2 solid;
    }
    .explore-intro-item {
        cursor: pointer;
        margin: 1rem;
        width: 300px;
        border: 1px #c2c2c2 solid;
        height: 100px;
    }
    .explore-intro-item-header {
        display: flex;
        margin: 1rem 1rem 0;
        cursor: pointer;
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
        span {
            margin-left: .5rem;
            cursor: pointer;
        }
    }
    .explore-intro-item-body {
        font-size: 14px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        margin: 0 1rem;
    }
    .explore-intro-item-footer {
        align-items: center;
        margin: 0 1rem;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        a {
            padding: 0;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-right: 5px;
            white-space: nowrap;
        }
    }
}
