.explore {
    .explore-nav {
        max-width: 1248px;
        margin: 0 auto;
        padding: 0 1rem;

        .nav-header {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;

            .title {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }

        .nav-tabs {
            margin-top: 1rem;

            span {
                font-weight: 500;
            }

            button:where([data-active]) {
                border-bottom: 2px var(--theme-button) solid;

                span {
                    font-weight: 700;
                    color: black;
                }
            }
        }

        .nav-filter {
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
            background: #fbfafd;
        }

        .search-input {
            flex: 1;
            margin-right: 1rem;
        }

        .fixed-size-button {
            width: 95px;
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .search-filter-container {
            display: flex;
            gap: 1rem;
            margin-left: auto;
        }

        .icon-right {
            margin-left: 0.25rem;
        }
    }
    .explore-pagin {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        gap: 1rem;
    }
    .explore-list {
        max-width: 1248px;
        margin: 0 auto;
        display: flex;
        padding: 0 1rem;
        flex-direction: column;
        gap: 0.125rem;
    }
    .explore-product {
        display: flex;
        flex-wrap: wrap;
        border: 1px #efefef solid;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
        height: auto;
        min-height: 70px;
        .explore-product-avatar {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0 0 5px;
            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }
        .explore-product-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1rem;
            .explore-product-title-name {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
                overflow: hidden;
            }
            .explore-product-title-desc {
                font-size: 0.875rem;
            }
        }
        .explore-product-data {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;
            margin-right: 1rem;
            gap: 1rem;
            .explore-product-data-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.125rem;
            }
        }
    }
    .explore-users {
        display: flex;
        flex-wrap: wrap;
        border: 1px #efefef solid;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
        height: auto;
        min-height: 70px;
        .explore-users-avatar {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0 0 5px;
            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }
        .explore-users-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1rem;
            .explore-users-title-name {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
                overflow: hidden;
            }
            .explore-users-title-desc {
                font-size: 0.875rem;
            }
        }
        .explore-users-data {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;
            margin-right: 1rem;
            gap: 1rem;
            .explore-users-data-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.125rem;
            }
        }
    }
    .explore-organization {
        display: flex;
        flex-wrap: wrap;
        border: 1px #efefef solid;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
        height: auto;
        min-height: 70px;
        .explore-organization-avatar {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0 0 5px;
            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }
        .explore-organization-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1rem;
            .explore-organization-title-name {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
                overflow: hidden;
            }
            .explore-organization-title-desc {
                font-size: 0.875rem;
            }
        }
        .explore-organization-data {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;
            margin-right: 1rem;
            gap: 1rem;
            .explore-organization-data-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.125rem;
            }
        }
    }
}
