.issues {
    .issues-header {
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 2rem;
            font-weight: bold;
            margin: 1rem 2rem;
            button {
                background-color: var(--theme-button);
            }
        }
        .issues-header-search {
            padding: 1rem 2rem;
        }
        button:where([data-active]) {
            border-color: var(--theme-button);

        }
    }
}