.layout-header {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        .header-btn {
            width: 45px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f15108;
            color: white;
            border: none;
            border-radius: 3px;
        }

        .header-btn:hover {
            transform: matrix(1.05, 0, 0, 1.05, 0, 0);
        }

        .header-menu {
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            span {
                cursor: pointer;
            }
        }
        .header-status {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            height: 60px;
        }
        .header-status-arrow {
            transition: all 0.4s ease-in-out;
        }
        .header-status:hover{
            .header-status-arrow {
                transform: rotate(90deg);
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-right: 2rem;

        button {
            background: transparent;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .user-menu {
            margin-top: -3px;
        }
    }
}

.welcome {
    padding: 0 16px;

    .home-title {
        margin-top: 10rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 4rem;
            font-weight: 600;
        }

        span {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    .home-start {
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 1rem;

        .start-up {
            display: flex;
            border: 3px #c2c2c2 solid;
            border-radius: 8px;

            input {
                border: none;
            }
        }

        .start-in {
            display: flex;
        }
    }

    .home-intro {

    }
}