@import "./layout.css";
@import "./auth.css";
@import "./user.css";
@import "./repo.css";
@import "./filetree.css";
@import "./explore.css";
@import "./dashbored.css";
@import "./usersetting.css";
@import "./market.css";
@import "./product.css";


.code-block  {
    color: white;
    background: black;
    overflow-x: auto;
    white-space: pre;
    font-size: 14px;
    font-family: monospace;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.process {
    height: 2px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    border: 1px solid #f15108;
}