.product-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    .product-item {
        border: 1px #e9e9e9 solid;
        .product-item-info {
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 0 0.5rem;
            .product-item-price {
                align-content: center;
                margin-right: 2rem;
            }
            h1 {
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 0;
                color: #ed5002;
            }
            .product-item-info-title {
                margin-left: 1rem;
                span {
                    color: #757575;
                }
                cursor: pointer;
            }
        }
        .product-item-info-but {
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 0 1.5rem;
            .product-item-info-but-tag {
                margin-right: 1rem;
                span {
                    margin-right: 5px;
                    background: #ed5002;
                    padding: 0 0.25rem;
                    border-radius: 10px;
                    color: white;
                }
            }
        }
    }
}

.market-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    .market-page-title {
        display: flex;
        justify-content: space-between;
        align-content: center;
        img {
            margin-top: 2rem;
            margin-left: 2rem;
            height: 3rem;
            width: 3rem;
        }
    }
    .access {
        margin-right: 2rem;
    }
    .market-page-body {
        display: grid;
        grid-template-columns: 4fr 300px;
        .market-page-markdown {
            margin-top: 2rem;
            padding: 1rem;
            border: 1px #d6d6d6 solid;
        }
        .market-page-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem;
            padding: 2rem;
            max-height: 50vh;
            margin-top: 2rem;
            div {
                cursor: pointer;
            }
            .hover:hover {
                color: #f15108;
            }
        }
    }
}