name: Build and Deploy

on:
    push:
        branches:
            - dev
    pull_request:
        branches:
            - '**'

jobs:
    build:
        uses: ./.github/workflows/build.yml

    deployment:
        needs:
            - build
        uses: ./.github/workflows/deployment.yml
        secrets: inherit
